[2015-08-07 01:12] NightmareInfinity opened #1 "Printing out asd whenever getting total views"
Whenever i call channel.getTotalViews() it prints asd.
is this some kind of debug?

[2015-08-07 02:02] NightmareInfinity opened #2 "Java throws unsupported version error."
[code]

[2015-08-07 02:03] RoboSkyrat commented on #2
Im using the wrong version of java...

[2015-08-07 02:03] #2 closed

[2015-08-07 03:57] lmariscal commented on #2
Don't worry jaja, I'm also working in a lighter version of this Lib, and if you have any good idea please ask.

[2015-08-07 03:58] lmariscal commented on #1
I might think so, let me check the code and I will update it. Thanks by the way.
PD: Also if you can check if the isSub works cause I cant, thank you.

[2015-08-07 04:00] lmariscal commented on #1
And yes, its a debug in the line '412' in the Channel class. I will remove it as soon as possible

[2015-08-07 04:03] #1 closed

[2015-08-07 19:46] NightmareInfinity opened #3 "Channel.getOwner()"
should implement the ability to get who the channel owner is.
lets say i had the bot in my channel and wanted it to say my name no matter who issued the command.
i want the ability to send it to a different channel and have it use their name instead of mine.

[2015-08-07 19:50] lmariscal commented on #3
I don't understand you, can you make a longer explanation please.

[2015-08-07 19:52] RoboSkyrat commented on #3
I want to be able to get the broadcaster from the channel the bot is in.
Channel.getBroadcaster() would return a type User of the broadcaster.

[2015-08-07 19:54] lmariscal commented on #3
Well when you receive a message/command theres a Channel object you can use the toString() method and substring it 1 and that would be the Channel owner

Example:

[code]

But yeah, I can make a method so it gets easier.

[2015-08-08 03:17] #3 closed

[2016-05-29 22:35] intoxicatedpenguin opened #5 "Turn a string to a channel?"
when I use onWhisper I just have it send a whisper back, like so:
`public void onWhisper(User user, String message){
        this.whisper(user, message);
        //this.sendMessage("BY GOD WE DID IT " + user + "SAID: " + message, channel);
}`
But there is no whisper sent back, so the event just doesn't work?

[2016-05-30 04:04] lmariscal commented on #5
Well, the problem here is that the Whisper is a WIP, so I don't expect it to work right now. As stated in the README, nowadays I see is a more used function so I will try to make it happen for next update. Or if you know how to code this function the community would really appreciate it. Thanks :smile:

[2016-05-30 04:04] #5 closed

[2017-02-16 04:42] StivArts opened #6 "How to import library and use classes?"
Sorry if it is a obvious question.
I'm using NetBeans and i added the jar file to project libaries, but the program still don't recognize classes and 'import' feature doesn't work.
There is no construcot of TwitchBot? i have to change the username, oauth, by methods? .-.

[2017-02-16 16:02] lmariscal commented on #6
I'm not used to work with NetBeans but here I found a video that shows you how to add a Jar file to your project: [https://youtu.be/jsS_cRbNv3o?t=59s](https://youtu.be/jsS_cRbNv3o?t=59s)
If you want tutorials on how to use this library check the [**wiki**](https://github.com/CavariuX/TwitchIRC/wiki).
Also this project is unmaintained (But please don't get discourage this library should still be wo

[2017-04-11 18:54] geisterfurz007 opened #7 "React to normal messages"
I got curious and forked the project to work on a bot that I could use or help out channels I want to support with it with features they might like. However after testing, trying and many hours I cannot figure out how to react on simple, normal messages that are written in the chat.
I am in the correct chat (tested with reading the active users and sending messages to it) and I can see a reaction

[2017-04-12 02:20] lmariscal commented on #7
(Sry for the long wait)
All this lib whas made before the:

So all of the features are working (Or they should the irc protocol of Twitch hasn't change). But as I saw all this new features I was in school so I decided to discontinue this project. So yeah, PRIVMSGs are not working. But please don't get discoraged by this feel free to work in your fork and continue doing an amazing job :+1:.

About

[2017-04-12 02:34] #6 closed

[2017-04-12 02:38] lmariscal commented on #7
Yep I just tested it. And everything works as it should I'm receiving messages and I'm able to connect and send some messages too.

I ask you some things that could be your problem, firtst of all onMessage function with the override in the bot's class or in the main? Because if it's in the main one it won't work. Second, be sure to be able to join and send messages in the chat with your bot. Third

[2017-04-12 06:28] mvarendorff commented on #7
Huh, interesting...
1) Yup, onMessage is overridden in my Bot-class
2) Yup as well. I get the standard output and I am able to send Messages
3) I generated a new token this morning for the bot's account, so that should not be the problem either... And if it is able to send messages, it should already be authorized, shouldn't it? And as said, I can whisper the bot as well, but not get it to react o

[2017-04-14 21:06] geisterfurz007 commented on #7
@cavariux Another quick note: Having firewall problems I thought the problem might be in the cloud that I was using to execute the program, but as I had the chance to try it on my Laptop without the firewall restrictions I had the same thing so that is not the source of the problem either. I will try to start completely at the beginning this evening and see if I can backtrace the error if I will g

[2017-04-14 21:40] mvarendorff commented on #7
Huh... I took the time now and followed your wiki exactly and this seems to be working.. I will try to backtrack and if I found, what was causing the issue I would leave a note here, if that is ok for you :smile:

[2017-04-14 22:26] mvarendorff commented on #7
After some searching, copying and pasting I found the problem. It was one # when joining a channel. I saw that in the code it was added, so I left it out, but it does make a difference, eventhough I cannot figure out why it does. I can send messages in that channel, read the viewers, but I cannot see messages, when they are posted. I am uncertain why that is and I have not yet taken the time to in

[2017-04-14 22:26] #7 closed

[2017-04-20 22:16] Squidkingdom opened #12 "Cannot make static reference to..."
Hello, I am a relatively new Java programmer and had a question about the connect method. The connect function is not static and the Main Method is. I'm getting errors and i don't know what to do.

[2017-04-20 23:20] lmariscal commented on #12
Yeah no problem, the connect method isn't static because you need a bot object to connect, so the bot gets all the info related to the connection.
If you are lost you can always follow the wiki that will guide you to create your first bot.

If any thing else I'm here to help.

[2017-04-20 23:21] lmariscal commented on #12
Annndddd I just read the last part sry :/ I recommend you to build the bot in a separate class. And link everything together then.

[2017-04-21 00:08] Squidkingdom commented on #12
What wiki?

[2017-04-21 00:11] Squidkingdom commented on #12
OMG, I had no idea there was a wiki! Sorry!

[2017-04-21 02:48] Squidkingdom commented on #12
Ok, so i got farther than I was, by using the wiki. Then I started to run into problems.  "  "User" (In the onMessage parameters) cannot be resolved to a type " and the " bot.start(); " is expecting an identifier. I'm really sorry for wasting your time in advanced, and Ill be the first to admit that IDK how this API is built and or used. Thanks sooooo much for the help!

[code]

[2017-04-21 13:23] mvarendorff commented on #12
It looks like you are messing up a bit there :)
You basically need two classes: Main.java and RansomBot.java
The Main one is basically just there to get your bot rolling and should include:

- creating the bot
- connecting the bot
- joining your desired channel
- (optional) sending message
- starting your bot

In that order.

The line `User.@getUser("squidkingdom")` is redundant (and missing a `;`

[2017-04-21 20:39] Squidkingdom commented on #12
Thank You!

[2017-04-22 02:37] Squidkingdom commented on #12
Im overriding the onMessage function and its not responding in the chat.

[code]

[code]

[2017-04-22 02:38] Squidkingdom commented on #12
I'm so sorry for wasting your time, i'm doing this for a friend and my "Deadline" is coming up quick! I really appreciate it BTW

[2017-04-22 03:12] lmariscal commented on #12
**onCommand** only works when the user inputs a message starting with !
**onMessage** works with all messages in chat.

Are you receiving the Hi, I'm connect message in chat?

PD: Don't publish your oath key anywhere, I can guarantee you I will not use it neither geisterfurz007 he is a cool dude but we can't be certain of any other person looking at the issues.

[2017-04-22 03:22] Squidkingdom commented on #12
Thanks for the tip, and I'm not getting that message. I see the message in the console but its not showing up in the chat

[2017-04-22 03:23] lmariscal commented on #12
Are you sure the username and the ouathkey are the right ones? It's the first thing that came to my head.

[2017-04-22 03:28] Squidkingdom commented on #12
Lemme check

[2017-04-22 03:33] lmariscal commented on #12
I think I found the error, put all lowercase the channel you wanna join and for styling (not necessary) put a # infront of the channel.

`Channel channel = bot.joinChannel("#enjoihunt");`

PD: I tested it should all work I literally copy pasted your code just replaced the key and username and change the channel to the one I gave you. For future joins put the channel in lowercase

[2017-04-22 03:40] Squidkingdom commented on #12
Nope it wont respond, i am testing it in a live chat with a live stream, @RansomBot is the bot name and it wont show up in the chat. *Edit*: The bot doesnt show in the viewer list either

[2017-04-22 03:44] lmariscal commented on #12
Don't worry about the viewers list Twitch irc is not well done when I did this lib I investigated the whole api and how they managed. Not that well made.
About your issue I'm running short on Ideas :/

I know I just told you not to share your key but can you like your code to test it out? Then when I tell you just edit it and remove the ouath key. thanks

[2017-04-22 03:46] Squidkingdom commented on #12
[code]

[code]

`//TwitchBot.java`

[2017-04-22 09:41] mvarendorff commented on #12
I cannot test it right now, but as cavariux already mentioned, your channelname should be in lowercase. I think the `#` is redundant after the latest changes of the library, but to be on the safe side, include it (as I do not know which state your library is in).
Another thing that might cause the issue might be your username. I do not know how picky the irc chat is, but you should have the userna

[2017-04-22 21:56] Squidkingdom commented on #12
one more thing :), Is the ban(); method private, im getting visablity errors

[2017-04-22 22:00] mvarendorff commented on #12
They should not be. Both, in the Channel and in the User class are public... Is the bot joining properly now?

[2017-04-22 22:25] Squidkingdom commented on #12
Yes it is @geisterfurz007, something was weirdly wrong. I sent the source code to cav and it worked for him.  I have a function that checks if a user has been warned. *edit* I also dont know how to instruct the bot on who to ban :P

[code]

[2017-04-22 22:30] mvarendorff commented on #12
[code]

That block is weird... The loop will run only as longs as line is not null, then you compare this (ensured !=null) to something that you just initialized with null, which should never be true.
Anyways, in which class do you have this block of code?
If this is in the RansomBot class you have to specify the channel from which the user is supposed to be banned from. You need both parameters f

[2017-04-22 22:32] Squidkingdom commented on #12
so the syntax is `ban(user, channel)`

[2017-04-22 22:33] mvarendorff commented on #12
No it is channel.ban(user) or user.ban(channel) you can use both as the one refers to the other :)

[2017-04-22 22:43] Squidkingdom commented on #12
[code]
It cant find channel as a variable

[2017-04-22 22:43] Squidkingdom commented on #12
variable*

[2017-04-22 22:43] mvarendorff commented on #12
When is your checkWarnList() method triggered?

[2017-04-22 22:50] Squidkingdom commented on #12
It will he callee when the bot detects unwanted language (Mainly Slurs). I want the bot to give them a warning and then punish them.

[2017-04-22 22:52] mvarendorff commented on #12
So you are reacting on that in the onMessage() method? If that is the case you can pass the user and the channel to the list. You need some way to get the User and the Channel passed to the method. And then using these objects execute the command.

[2017-04-22 23:06] Squidkingdom commented on #12
yes so
'onMessage(User user, String message Channel channel){
 if(mesage.contains("censored slur")){
       Boolean warned = checkWarnList(user);
if(warned = true) {
Channel.ban(user);
//Tell then they have been banned
}
else{
// code that will add them to the list
}

[2017-04-22 23:07] Squidkingdom commented on #12
P.S. my code may be finicky im currently on mobile

[2017-04-22 23:11] mvarendorff commented on #12
Yeah something like that should work out. Note that you have to refer to the channel object (lowercase) (unsure if related to mobile typing or not) but that should be a working skeleton for that I guess.

[2017-04-23 01:58] Squidkingdom commented on #12
I am using channel as an object and its still giving me visibility errors, does it have to do with where im defining my method (Its in the botty.Java file). here is the error "The field TwitchBot.user is not visible"
code. P.S. There is a lot of left over methods the are superfluous.
[code]

[2017-04-23 09:06] mvarendorff commented on #12
Pass the user object you get from onMessage() as well so your method call looks like this:
`checkWarnList(channel, user)`
and modify the methods header so that it will accept the user object as well:
`public boolean checkWarnList(Channel channel, User user) {`

The problem currently occuring is that user is in fact a global variable of the bot itself, which is private. As there is no other variabl

[2017-04-23 20:19] Squidkingdom commented on #12
I hope this is the last thing XD. But how would one convert a User var into a String, i need to compare someones IGN to a line on a file. (to check if previously warned) @geisterfurz007

[2017-04-23 21:41] lmariscal commented on #12
.toString()

[2017-04-30 13:53] manercraft opened #14 "channel.getMods()"
channel.getMods() return empty list, even if there are moderators on the channel

[2017-04-30 16:43] #12 closed

[2017-04-30 16:59] lmariscal commented on #14
Just tested the getMods call and returns every mod in the channel.
Used last version in releases tab.

What comes to my mind is that Twitch actually takes it's time to refresh their api with new viewers (mods).

[2017-04-30 17:00] #14 closed

[2017-05-02 21:59] Squidkingdom opened #16 "Suggestion: Arguments for onCommand()."
It would be nice to be able to have arguments for the onCommand() method. So like if you wanted to have chat vote ban someone You could do !voteban _user_ instead of !setban and !voteban. It would just make life a bit easier. If their is a easy way to acheive this goal, let me know!

[2017-05-03 16:38] lmariscal commented on #16
It has the same arguments that onMessasge has, it actually is the same only that the onCommand is called when a message starts with !

[2017-05-03 16:55] Squidkingdom commented on #16
I don't think I explained it very well, it would be nice to be able to have arguments in the command itself, for example twitch has the command `/timeout [user] <time>` if we wanted to run the timeout command through the bot, if you wanted to keep track of people. So you could do `!TO [User] <Time>` and that would have the chat not execute the timeout method, as well as add there name to a list of

[2017-05-03 17:03] lmariscal commented on #16
In the user the onCommand gives you you have the function .timeout .ban and some more

[2017-05-04 01:48] Squidkingdom commented on #16
Sorry, that was a poorly used analogy. The actual reason I suggested this is I am trying to created the command, is to make a !quote command. I would like to be able to do `!quote [add] [whatever quote]` and then to call that quote as such `!quote [int]` I would then like to be able to use the `[add]` and the `[whatever quote]` in the code to add `[whatever quote]` to a file. I would like to be ab

[2017-05-04 15:02] lmariscal commented on #16
Like in bukkit that instead of a message it gives you a string with arguments?

[2017-05-06 17:18] Squidkingdom commented on #16
Yeah so that when you do a command like `!quote` you can have more information to be used in the code

[2017-05-06 17:30] lmariscal commented on #16
Well on the message if the chat message is "!quote a Message" the message
variable passed is "!quote a Message" you can manually split it in parts
with split in the strihg object of java

[2017-05-06 18:24] Squidkingdom commented on #16
Ok gotcha

[2017-05-10 02:31] Squidkingdom commented on #16
For anyone looking at this for answers in the future us the extension `.regionMatches()`  and `.substring()` Here is an example of my code `else if(message.regionMatches(true, 6, "add", 0, 3) == true){

					try {
						Thread.sleep(1500);
						String qte = message.substring(10);
						writeFile(user, channel, path, qte);
						sendMessage("Sucessfully added the quote \"" + qte + "\" (" + user +

[2017-05-10 02:31] #16 closed

[2017-05-10 18:32] dustinduse opened #17 "Command returns."
Ive tested commands, I can get "!bonus" to fire as command event. but "!bonus name" will not. couldnt figure it out.

[2017-05-10 20:02] Squidkingdom commented on #17
What is the code for your full onCommmand() function?

[2017-05-11 02:47] dustinduse commented on #17
`String str[];
			        str = line.split("!");
			        final User msg_user = User.getUser(str[0].substring(1, str[0].length()));
			        str = line.split(" ");
			        Channel msg_channel;
			        msg_channel = Channel.getChannel(str[2], this);
			        String msg_msg = line.substring((str[0].length() + str[1].length() + str[2].length() + 4), line.length());
			        System.out.p

[2017-05-11 02:52] Squidkingdom commented on #17
Not that :P I mean like the override portion
Just use the modifier `message.regionMatches(IgnoreCase, offset, other, otheroffset, read);`
Also go here https://github.com/cavariux/TwitchIRC/issues/16

[2017-05-11 17:30] mvarendorff commented on #17
For me the String that is passed as `command` contains everything after the `!`. You should be able to split that String by spaces and treat each element of the resulting array as one argument with [0] beeing the commandname.
You are probably having something like this: `if (command.equals("bonus"))` which will return false for `command = "bonus name"`. Something that would eb working with the abo

[2017-05-11 19:23] Squidkingdom commented on #17
@geisterfurz007 I respectfully disagree, there is no need to go into arrays we can just use regionMatches() like this:
[code]
My code may be finicky (I'm on mobile) but the idea is there.

[2017-05-11 19:25] Squidkingdom commented on #17
Also I can't get the code brackets to work correctly :p

[2017-05-11 20:21] mvarendorff commented on #17
I took the freedom to edit that ;)
Well true, but I there is you are working with even more arguments after that, this would not work with substring. In addition to that one would have to do that for each command. When reacting to more than one command, it comes in handy to have it in one variable and then compare it using switch/case :) However I agree that for only a few commands you way works w

[2017-05-11 20:27] lmariscal commented on #17
First of all I can't see the names but the guy who submitted this issue you
are using split in ! when in onCommand the command is passes without the !
secondly you would whant to split in every space to split arguments

[2017-05-13 20:44] kayc01 opened #18 "Error in IsMod check"
Error:
java.io.IOException: Server returned HTTP response code: 504 for URL: http://tmi.twitch.tv/group/user/abkayckay/chatters
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(HttpURLConnection.java:1876)
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream(HttpURLConnection.java:1474)
	at com.cavariux.twitchirc.Chat.Channel.getMods(Channel.java:224)
	at com.cavariux.twit

[2017-05-13 22:24] lmariscal commented on #18
Did you try it again? It seems to be working for me

504 http code is for gateway timeout. was your internet conection stable?

[2017-05-13 22:41] Squidkingdom commented on #18
I use isMod in my 1.2 bot and it works just fine. You are getting http errors, which means this is most likely a error in reading information. Hope this helped!

[2017-05-13 22:41] kayc01 commented on #18
Yeah twice, could it of been twitch server issues?
I ran from Eclipse and my internet is 100 down, 10 up.

IsMod works right?
Not sure why the error is on that line specifically.

Maybe it is looping through too many chatters, struggling to check every message if they are mod and timing out.

Opinions?

[2017-05-14 20:14] kayc01 commented on #18
Also, does the code if (!channel.isLive()) { actually work?
Currently not returning anything.

Thanks

[2017-05-15 06:45] Squidkingdom commented on #18
No it doesn't I tested it with my bot and it always return false

On Sun, May 14, 2017 at 3:14 PM, kayc01 <notifications@github.com> wrote:

[2017-05-15 09:46] kayc01 commented on #18
@Squidkingdom Not correct actually, it works for me.
It said the stream was live and then took a while to realise the stream had stopped and gone to host mode.
I have a debug command and it shows me if the channel is live and it works fine :)

Also, update had none of these errors since. Guess it times out when trying to check every message if they are mod so put your isMod  check after the messag

[2017-05-15 14:38] Squidkingdom commented on #18
Huh, it won't work for me, but then again I didn't exactly spend much time
on it. :P
On Mon, May 15, 2017 at 4:46 AM kayc01 <notifications@github.com> wrote:

[2017-05-22 03:16] Squidkingdom opened #19 "Messages on a timer"
Is there a way I'm not seeing to send a message on a timer every so often like moobot or something would do? I can't find a way to do it without stopping the bot in it tracks. Please Help!

[2017-05-22 05:01] lmariscal commented on #19
Create a second thread for the timer.

[2017-05-22 11:30] mvarendorff commented on #19
Exactly. If you are on Java8 you might want to have a look Into ScheduledExecutorService :) Maybe if one day I will take the time to pack my CooldownHandler and Commands in a library I will note you, if that is fine @Squidkingdom

[2017-05-22 12:12] Squidkingdom commented on #19
Thanks!

[2017-05-24 21:21] Squidkingdom opened #20 "Suggestion: Console"
It would be nice to have a console to interact with the bot directly. So if you said something to the console it sent a rawmessage to the IRC chat. It would be mainly nice to be able to stop the bot after running it without having to go into the Task Manager.

[2017-05-24 23:03] mvarendorff commented on #20
In my honest oppinion this is not the task of the library. This library is supposed to open the opportunity to make something, providing all the necessary and useful functions.
Creating such a console would be something to do on your end I would say :)

[2017-05-24 23:27] mvarendorff commented on #18
Quick note from my end: #isMod() works totally fine for me. The only thing beeing annoying is that the Twitch-Service providing the JSON-Objects seems to take way to long to recognize people (at least when I try something in my streams chat...). The implementation looks all fine to me as well! So I assume and hope that this has been a one-time problem :)

[2017-05-24 23:27] #18 closed

[2017-05-24 23:57] Squidkingdom commented on #20
ok

[2017-05-27 19:05] #20 closed

[2017-05-27 19:58] Squidkingdom commented on #19
So I looked into the ScheduledExecutorService and most of it goes over my head. :P I cant seem to find anything that explains how to use it w/o doing very complicated stuff. Any tips or mabye some code to help me start.
Thanks for your time, Squid

[2017-05-27 20:26] Squidkingdom commented on #19
Im especially struggling on how to get another class to use sendMessage() without creating another bot.

[2017-05-27 21:37] lmariscal commented on #19
There's a bunchhhh of aproches on making this. The easiest don't know if
the most eficient is to make the bot variable static

[2017-05-27 22:47] Squidkingdom commented on #19
Not picking up on what your saying, Im but a humble joe, trying to say a message on a timer and not knowing how. XD I still cant find anything that illustrates how to use ScheduledExecutorService.

[2017-05-28 11:40] mvarendorff commented on #19
You will give your bot a new variable:
`ScheduledExecutorService executorService = Executors.newSingleThreadScheduledExecutor();`
and another one that tells whether to send the message or not:
`boolean sending = false;`
so that you can turn on the messages when the bot is connected.

Then you give your bot two new methods to start/stop the Executor:
[code]
And then at last you need a method that i

[2017-05-29 15:54] Squidkingdom commented on #19
Ok so I would do this in another class?
and I would call `startExec()` to start the timer? @geisterfurz007

[2017-05-29 17:30] mvarendorff commented on #19
The methods above would go into your bot class and exactly `startExec()` would then start the timer. I am unsure in how far you need `sending`. If you do not feel like you need it, take it out :)

[2017-05-29 17:39] Squidkingdom commented on #19
ok Thanks

[2017-05-29 17:39] #19 closed

[2017-06-03 16:15] #17 closed

[2017-06-09 01:17] Squidkingdom opened #21 "sendRawMessage Returns NullPointerExeception"
Hello, I attempted to use a scanner to take input from a console and send it as a message using the sendMessage() function. How ever when i run the bot. I get a NullPointer  from the flush of the sendRaw message . I don't know what I did wrong. The people on this form are so nice and I hope someone can help me or point me to where I can get help. Thank you so much and below is a pastebin with my s

[2017-06-09 04:38] Squidkingdom commented on #21
Edit: For some reason in `this._something_` the `this` is "input" instead of "Botty"

[2017-06-09 15:05] mvarendorff commented on #21
I can neither see a `this` in your code nor a `sendMessage()`.
That `this` is input makes sense if you use it in your input class...
Have you tried creating a constructor for `input` and for `Botty` with the line
`super(),`
in it. This will execute the constructor of the super class as well. So `Botty()` will be executed  by `input()` and the constructor of the TwitchBot library by `Botty()`. This

[2017-06-10 03:52] Squidkingdom commented on #21
The `this` is in the `sendRawMessage()` (`this.writer.write()`) function. And Its giving me errors when I implement `super()` I eventually just "Threw shit at a wall and saw what stuck" I ended up having method after method retriving method after method and manipulated witch writer i got and it worked!

[2017-06-10 17:27] #21 closed

[2017-06-24 18:19] kayc01 opened #22 "Whisper not sending?"
Hey, So I sent a whisper via console and it was not appearing on twitch but showed in console.

Console Output:
MSG #swiftor : /w kayc01 kayc01, you have started a Transfer Gamble, kayc01 you have 30 seconds to transfer me the exact same amount. Copy and Paste this in chat: !transfer abkayckay 1000

Which looks fine, however no Whisper was actually sent or received on the website.

Code:
this.whis

[2017-06-24 18:51] lmariscal commented on #22
If you are not using the last release of the bot the was a typo in the whisper function. It was fixed in the last release

[2017-06-24 19:03] kayc01 commented on #22
I am using TwitchIRC v1.2.jar which is the latest :/
It's also in my Bot Class with all the onMessage events etc...

Everything seems formatted correctly in the output and its sending it via console but not via website/twitch.

[2017-06-24 19:19] mvarendorff commented on #22
I am only able to recreate the problem when I have the bot join a channel that is not a username on Twitch (so for example an empty channel name (which will then be the channel `#`) or a very long username) as the first channel it joins. I have tested it on port 80 as well as 443 and 667 and could not recreate the problem in any other way eventhough I checked and swiftor has a channel (a decently

[2017-06-24 19:29] kayc01 commented on #22
I don't know, is there anything else I need to do for using Whispers? I have not messed with any ports or anything.
Literally only using whisper(user, string);.

I can try restart the bot however other parts are working just fine. The whispers are being ran, just not actually executing anything on twitch's side.

Any further idea's appreciated.

[2017-06-24 19:42] mvarendorff commented on #22
Only things you would have to do for everything else as well...
Create a bot, connect it, join a channel and you should be good to go...

I have my main method (in Main.class) here:
[code]

and my onWhisper (in my TestBot.class) here:
[code]

to see what was whispered.

Doing that I am correctly beeing whispered the above String...

And the console message is:

[2017-06-24 19:48] kayc01 commented on #22
I can whisper via my version of TestBot.class right?
Using this.whisper in CkayBot.class instead of bot.whisper in Main.class?

Have no way of making it whisper at the correct time if not.
I currently do not also use onWhisper as I do not need to read whispers.

[2017-06-24 19:59] mvarendorff commented on #22
Yes using this.whisper should work as well.

To make sure I tested it by triggering the whispering once after I connected the bot and once after I received a certain message.

[2017-06-24 20:04] kayc01 commented on #22
Odd. Idk why its not working :(
Ill try restart and stuff later.

[2017-06-24 20:22] mvarendorff commented on #22
Yeah I have no clue currently either, sorry.
Best advice I can give is to copy your project and take out things you do **not** think are causing the problem until
you are down to a very short sample that you can then paste on [some paste site](paste.ofcode.org) and link it here
or
until the problem no longer persists.

If the latter happens, you can then share the piece of code that was causing th

[2017-06-24 22:00] lmariscal commented on #22
This bot is using the chat whispering method to save connections, in order to use the whispers you need to join at least one channel,

[2017-06-24 22:08] kayc01 commented on #22
It does join a channel, it joins it in the main and then stays in it whilst betting is going on.
Like the bot is doing other stuff whilst the whisper is not being sent. So its in the swiftor channel all the time its running.

It also re-joins during some run methods to get the channel instance in that enclosed scope.

[2017-06-24 23:21] kayc01 commented on #22
Problem is @geisterfurz007 there are no problems. Other than the whispers not being sent.
They come through console but don't actually appear. Like its either a format issue in the whisper yet it looks fine.

[2017-06-24 23:25] lmariscal commented on #22
I reformat the whisper in the las commit but I have being using the lib for a personal bot and have not experienced any problems. And have been using whispers heavily

[2017-06-24 23:29] kayc01 commented on #22
I did exactly what @geisterfurz007 did:

CkayBotClass bot = new CkayBotClass();
		bot.connect();
		bot.joinChannel("swiftor");
		bot.whisper(User.getUser("kayc01"), "test.");
		bot.start();

The whisper never gets sent. Any idea on what I can mess with?
this.setWhisperIP(IP, Port);
And if so, what should I enter into IP? Ill try the 3 ports you mentioned earlier.

Thanks

[2017-06-24 23:45] Squidkingdom commented on #22
whisperIp and Port are unused You might try eclipse's /NetBeans debug mode and look very closely at everything

[2017-06-24 23:47] lmariscal commented on #22
The lib isn't using a different connection for whispers if you can send a chat message you should be able to send a whisper. Check if the user you are trying to send a whisper is has the whispers enabled

[2017-06-24 23:52] Squidkingdom commented on #22
Yep, If i remember correctly whisper() just calls sendMessage() in the library. Try just doing `sendMessage("/w "+user+" This is a message", channel)`

[2017-06-25 01:13] kayc01 commented on #22
@Squidkingdom still doing nothing even so :/ what the heck.

[2017-06-25 04:24] Squidkingdom commented on #22
ummmm..... the only thing i can think of is to copy and paste the code from sendMessage() and try that. I cant give you that ATm because im on mobile but i sure @geisterfurz007 or @cavariux can get that

[2017-06-25 06:13] mvarendorff commented on #22
I am curious... What if you did `sendMessage(".w "+user+" This is a message", channel)` ? The dot has been intentional by me when I initially wrote the whisper part, though I am unsure if it actually caused issues somewhere I did not expect.
Reason for that is that twitch understands a `.` in the beginning as a `/` as well though I am unsure if that might cause a difference for your issue. Both wi

[2017-06-25 06:31] lmariscal commented on #22
@geisterfurz007 That's why I changed that part in the last release. And yeah Twitch wasn't recognizing . as / but I changed so it shouldn't be a problem.

[2017-06-25 06:32] mvarendorff commented on #22
For me it does which was the reason I did that. Right now I am wondering if we all connect to different servers that treat this thing differently.

[2017-06-25 06:33] lmariscal commented on #22
@geisterfurz007 that could be an issue. But the lib is correct I have been heavily using it for development lately and have had no problems.

[2017-06-25 10:00] kayc01 commented on #22
@geisterfurz007 nope didn't do anything :/

Just to confirm, I can manually whisper on both accounts to each other via the website. Just not via the bot.
So yes Whispers are enabled.

Then, the sendMessage(/w and sendMessage(.w are both not doing anything.

[2017-06-25 12:19] Squidkingdom commented on #22
can you copy paste that section of code

[2017-06-25 13:37] kayc01 commented on #22
@Squidkingdom
this.whisper(User.getUser("kayc01"), "test.");
this.sendMessage(".w kayc01 test2", channel);
this.sendMessage("/w kayc01 test2", channel);

All 3 do nothing, this is just triggered when I put "Kappa" in chat as a test. I use it as my debug command to check Booleans and stuff so that should not matter.

[2017-06-25 14:32] Squidkingdom commented on #22
Make sure the bot is mod, if not add `Thread.sleep(1500);` In-between Each message and try removing the "`This.`"

Sincerely, Squid

[2017-06-25 15:10] kayc01 commented on #22
Removing this. fixed it. Thank you.

[2017-06-25 15:12] Squidkingdom commented on #22
Good! Anytime man!

[2017-08-01 02:34] kayc01 opened #23 "Premature EOF ?"
Not sure what caused this, or what it means. Though it's a result of a null point exception but points to a few lines of code...

Error:
java.io.IOException: Premature EOF
        at sun.net.www.http.ChunkedInputStream.readAheadBlocking(Unknown Source)
        at sun.net.www.http.ChunkedInputStream.readAhead(Unknown Source)
        at sun.net.www.http.ChunkedInputStream.read(Unknown Source)

[2017-08-01 03:16] lmariscal commented on #23
Hey, after watching the error it appears to be an abrupt interruption
betweent the stream of data and the data. The lib can't do anything to
prevent this, I recommend making a cache of the mods and only updating it
from time to time (At the end it really isn't a value that will be
changing) and surround your code with a try catch to avoid a crash.

[2017-08-01 13:24] kayc01 commented on #23
How do you suggest I create a cache properly? Ill research it.
Otherwise you mean some sort of text file with the mods stored and seeing if the mod name exists in the file?
Could you give an example of this code/if check.
I am only used to Bukkit YML Configuration, not default java txt files.

[2017-08-01 16:08] lmariscal commented on #23
​Cache comes in many ways, the basic concept: Don't request every time,
store it to make it accessible easier, like RAM​.

I'm not an expert when it comes to algorithms and ways of storing and
making cache, so you will have to make your own research there. But yes,
cache comes in very ways and it all depends on your needs.

[2017-08-02 15:33] kayc01 commented on #23
I managed to create a .txt file with a scanner that adds each mod (as written) to a list. I then see if the user.toString.toLowercase exists in the modsList. :)

Problem solved for now! :)

[2017-08-02 15:33] #23 closed

[2017-11-11 03:28] Squidkingdom opened #25 "Can connect to discord"
I know that this is not what the bot is made for but is there a way to change some ip's and ports, and have it connect to Discord. I'm trying to use this library to make a cross platform bot and I need to know if its possible.

[2017-11-11 03:35] lmariscal commented on #25
Hey, sorry to let you know but no, Discord is using a REST with HTTP api
for channels and other stuff (Not really familiar with Discord) and Twitch
is using IRC and they are two completly different communication protocols.
You can read more about how discord apps are developed in their oficial
doc: https://discordapp.com/developers/docs/intro

[2017-11-11 03:35] Squidkingdom commented on #25
Thanks man

[2017-11-11 03:35] #25 closed

[2017-11-11 08:36] mvarendorff commented on #25
@Squidkingdom If you are still interested in making a discord bot on its own, I can highly recommend the Java Wrapper for the discord API: [Discord4J](https://github.com/austinv11/Discord4J) :)

[2018-01-19 19:02] FritzderWahre opened #26 "onFollow event [Request]"
Is it possible to create a onFollow event? Id like to see it in the next version,

[2018-01-19 20:09] mvarendorff commented on #26
I just skimmed over the [Twitch IRC Docs](https://dev.twitch.tv/docs/irc) and couldn't find a trigger for that unfortunately. I will see if following a channel emmits anything undocumented in chat and write an update in about 8-9 hours but based on the documentation I won't find much I am afraid.

[2018-01-19 22:54] FritzderWahre commented on #26
Sounds ok, thanks for help.

[2018-01-20 05:57] mvarendorff commented on #26
Yeah as expected there is nothing in the IRC stream showing a follow. There is however a feature in the new TwitchAPI that allows reacting to follows. This however is not in the scope of IRC anymore.
I could probably implement it though if @cavariux agrees :)

[2018-01-20 07:09] lmariscal commented on #26
Hi @geisterfurz007 if you see it feasible and you have the time feel free
to add it, even tho it isn't in the scope of the IRC it has been a long
time asked feature. Thanks btw ;)

[2018-01-20 10:07] FritzderWahre commented on #26
Yeah ok, but saww some bots that send a message with "thanks for following" a while ago.

[2018-01-20 10:10] mvarendorff commented on #26
Yeah that is correct. The new twitch API has recently been released and supports this new feature for servers. Running such a server locally is possible and I am currently working on the code for it but it is not 100% sure it will work everywhere (my dorm has a strict network policy and certain ports blocked for example) so it is definitely easier to run this from a server but I am trying my best

[2018-01-20 10:16] FritzderWahre commented on #26
Thanks!

[2018-01-20 10:25] lmariscal commented on #26
Also, the way the old bots worked for follower notifications was to keep a
local copy of every follower and then verify with twitch api every x time
if there was a new entry it showed the notification. Some developers just
saved the last x followers but it permited follower notification
repetition. So as you see the old format was mostly a pretty specific task
for a server to do rather than a libr

[2018-01-20 11:39] mvarendorff commented on #26
I spent a few hours now trying to get this to work without success. The main issue is that Twitch's API requires a URL to send POST requests to whenever the event requested (in this case anyone following someone) occurs. Providing this URL is basically impossible when running local for me because I am either behind my dorms proxy, some unknown router of a VPN or on heroku where the code does not r

[2018-01-20 13:24] FritzderWahre commented on #26
Ok i understand, thanks for your help.

[2018-01-20 13:44] chrisderwahre opened #27 "if (user.isSubscribed(channel, Screts.oauth_key) == true {} crash"
Hey everyone, i have an issue if i check for the subscribed == true here the full event:
[code]

here the error:
[code]

am i doing something wrong or is it an issue with the API?

[2018-01-20 13:45] mvarendorff commented on #27
Have you set a client ID?

[2018-01-20 13:48] chrisderwahre commented on #27
You mean like this?
`public Bot() {
        this.setUsername(Secrets.username);
        this.setOauth_Key(Secrets.key);
        this.setClientID(Secrets.clientID);
    }`

[2018-01-20 13:49] mvarendorff commented on #27
Yeah like that. I will have a look into it ^^

[2018-01-20 13:58] mvarendorff commented on #27
Oh yeah the implementation is experimental and apparently incorrect. I might make a commit tomorrow fixing the issue.
Further the OAuth token must have been required with scope `channel_subscriptions` according to the [Docs here](https://dev.twitch.tv/docs/v5/reference/channels#get-channel-subscribers)

[2018-01-20 13:59] chrisderwahre commented on #27
Ok sound good.

[2018-01-20 19:12] lmariscal commented on #27
Yeah, I'm so sorry for this, when I implemented it I had no one who was a
partner to test it on so I made it really similar to the follower and
followed the docs that may have changed since.

[2018-01-21 05:21] mvarendorff commented on #27
I created the patch now on the brach "subpatch". I have the same issue like cavariux tho. As I am not subscribed to any channels nor know anyone, I cannot test it.
An important note: The code requires your OAuth-token to include the scope `channel_check_subscription`! Meaning that the OAuth token acquired for the bot does NOT have sufficient permissions and will return 401 - Unauthorized. I am not

[2018-01-21 05:33] geisterfurz007 opened #28 "Converting API requests to the new Twitch API"
There is still plenty of time left but better be safe than sorry.
Twitch API v3 and v5 are already deprecated and the endpoints will be turned off at the end of 2018 with only the new Twitch API remaining.
Meaning that the requests currently implemented will not work anymore.
Hence they have to be changed to use the new API.

[2018-01-21 13:03] NiD27 opened #29 "I have no clue whats going on its not connecting to channel or sending message"
https://gyazo.com/a8edd38dab45a97f6e9d2dec0d37d7cc
https://gyazo.com/e9c0cdc329814d75af9a6540c8a94bc4

[2018-01-21 13:38] mvarendorff commented on #29
Could not reproduce:
![grafik](https://user-images.githubusercontent.com/26303198/35194734-60504348-feb8-11e7-8be4-54606b36c545.png)

Code is the basically the same you posted; just with a different name of the bot. The logger does not mention any errors and only confirms that you connected to the channel. There is nothing in your screenshot of the logs that shows the message sending but the code

[2018-01-21 13:40] NiD27 commented on #29
@geisterfurz007  any idea why no message i just seen yourbot in my channel can you send me your code pls ill try that

[2018-01-21 13:41] mvarendorff commented on #29
[code]
[code]

[2018-01-21 13:41] NiD27 commented on #29
@geisterfurz007  thanks very much

[2018-01-21 13:42] NiD27 commented on #29
@geisterfurz007  you are the man bro got it working its was the start function that i needed to put in the last <3 thanks for help

[2018-01-21 13:43] mvarendorff commented on #29
No problem! Enjoy coding and good luck!

[2018-01-21 13:43] #29 closed

[2018-01-21 14:14] chrisderwahre commented on #27
i have currently no time,you can try it with the channel 'fameundriches' (im subscribed to this channel (my twitch name is 'ChrisderWahre' too.))

[2018-01-21 14:45] NiD27 opened #30 "[REQUEST]onhosted event"
basically streamer is channel S and if any random channel R.. so if R hosts S the on hosted function is called on the streamer side. ive seen this being done in java script but cant find it in java
this is the code ive used before in javascript - https://gyazo.com/97f5e9b947972d7ef621d18713eacca4
PS this should help toooo the bot is acting as the streamer with the streamers oauth and stuff - https

[2018-01-21 15:41] mvarendorff commented on #27
Alright I found some mistakes in my code and stuff but the main issue is the oAuth token.
I found a website that lets you acquire such a token [here](https://twitchapps.com/tokengen/).

After my understanding you have to do the following: Go to your twitchapps [here](dev.twitch.tv/dashboard/apps), create a new application with the redirect url given on the website (`https://twitchapps.com/tokengen

[2018-01-21 16:03] mvarendorff commented on #30
Yep that is possible! I am currently working on it; I will comment again once I am done :)

[2018-01-21 16:04] NiD27 commented on #30
@geisterfurz007  bro i really cant tell how amazing you are thanks sooooo much

[2018-01-21 16:35] mvarendorff commented on #30
@NiD27 The code works and is tested. You can download the newest version of the TwitchBot.java on the branch "subpatch". That is the only required file to change for you. Or you backup your bot and download everything from that branch and put your stuff back in ^^

[2018-01-21 16:42] NiD27 commented on #30
sorry mate having issues finding subpatch

[2018-01-21 16:45] NiD27 commented on #30
@geisterfurz007  thanks a lot mate cant tell how helpful you and this lib has been

[2018-01-21 16:51] NiD27 commented on #30
@geisterfurz007  i have a question this function is called when someone hosts me right? or is it called when i host someone

[2018-01-21 16:53] mvarendorff commented on #30
The method will be called whenever any channel the bot is in is hosted by any other channel out there. Which channel has been hosted is in the Channel object and who hosted is in the User object.

[2018-01-21 16:55] NiD27 commented on #30
wow its even better than what i wanted thanks mate

[2018-01-21 17:02] mvarendorff commented on #30
No problem! Hope it will serve you well ;)

[2018-01-21 17:27] NiD27 commented on #30
ok i fully understand it now but since you did it using the pic i sent you at that time the code was logged in as the streamer and not as the bot so if anyone wants to run this they  have to be logged in as the streamer

[2018-01-21 17:38] mvarendorff commented on #30
Dangit, you are right. I thought it was a general message sent to the channel and not the particular user. I will have a look on that again tomorrow. Thanks for reporting! I will be busy tomorrow so it will probably only be fixed in the evening if at all :)

[2018-01-21 18:00] NiD27 commented on #30
@geisterfurz007 last time i did research it was not possible but good luck anyways im sure i can get around it using multiple accounts and objects but yeah anyways let this version be in anyways it gets it done

[2018-01-22 15:34] NiD27 opened #32 "Help with logger"
Hey ive seen even after converting jar to exe the logger does not appear as a console anyway i can get it to open as a console window? and dispplay all the logs in an console?

[2018-01-22 16:43] mvarendorff commented on #32
What are you using to convert the jar to an exe? If that is tied to the JavaFX framework that might be the issue.

[2018-01-22 16:46] NiD27 commented on #32
@I am using jar2exe liek even just running the jar dont run as cmd and dont appear in taskmanager or in tasklist in cmd

[2018-01-22 16:53] mvarendorff commented on #32
In that case I think, it is best to contact the owner/maintainer of jar2exe as this issue is very, very likely not connected to this specific code.

[2018-01-22 17:01] NiD27 commented on #32
@geisterfurz007  so using java.util.logging.logger does log to console right?
i am creating my jars with intellij btw still dont work

[2018-01-22 17:40] mvarendorff commented on #32
Looking into it.

[2018-01-22 17:57] mvarendorff commented on #32
Yes the Logger logs to console. Just double clicking the jar file will not open the console window. To see the output open a cmd window in the directory in which the jar is in and run "java -jar myJarName.jar". I have no experience with jar2exe and the only thing I can do at this point is link to [jar2exe's tutorial for console applications(http://www.jar2exe.com/solutions/console).

[2018-01-22 18:00] NiD27 commented on #32
ok i will just do a batch file that should fix it i was hoping to do it in java itself without any extra things like batch

[2018-01-22 18:02] mvarendorff commented on #30
I am afraid, you are right.
![grafik](https://user-images.githubusercontent.com/26303198/35236165-9305cd0a-ffa6-11e7-9669-95d27226b685.png)
NightDev created BetterTwitchTV as well so I guess they know what they say.
Looks like this will not happen in a way that it is reported to public I guess. Sorry.

[2018-01-22 18:12] mvarendorff commented on #32
Theoretically you can.

Include this piece of ugly code in the beginning of your main method:

[code]
This will check if there are no arguments given to the application and if so, it will start it with "x" as argument. This will lead to the condition to result in false and with that run the file with a console.
This should work as well with the exe file and a slightly different command if you want

[2018-01-22 18:22] NiD27 commented on #32
Dont really work maybe im doing something wrong. had to remove return so main would work properly
https://gyazo.com/5a197a052ea4e13c3f18c20ecfee3feb

[2018-01-22 18:23] mvarendorff commented on #32
Replace unnamed.jar with myJarsName.jar
The return is placed intentionally so that you don't have two bots running. The small bit I posted above is only to basically restart your process with a console.

[2018-01-22 18:26] NiD27 commented on #32
np still no juice

[2018-01-30 15:31] Esssse opened #33 "Have some problems with userJoin method."
So i played around the userJoin. The problem is that the method is called 1-2 minutes after the user joined.
[code]

[2018-01-30 16:47] lmariscal commented on #33
The user join method is called by IRC JOIN, for some reason the twitch chat doesn't send a signal as soon as a user joins, making this dumb delay. Sadly there's nothing we can do as the Twitch Api doesn't support this natively.

[2018-01-30 16:55] lmariscal commented on #32
I hope you found a fix, closing the issue for the moment as no other issue related to this lib is here.

[2018-01-30 16:56] lmariscal commented on #28
I haven't touched java in years haha, but will do my best to help you with this task.

[2018-01-30 17:00] lmariscal commented on #26
Will look if we can add something related, but sadly it comes out of the scope of this lib as it does require some web tools.

[2018-01-30 20:00] chrisderwahre opened #34 "if (message.contains("test") && user == "chrisderwahre") error"
Hey! Im getting an error if i want to check the user, am i doing something wrong? error:
`Operator '==' can not be applied to 'com.cavariux.TwitchIRC.Chat.User' java.lang.String`

Full code:

`
if (message.contains("test") && user == "chrisderwahre") {
                this.sendMessage("Hey Bot Admin!", channel);
}`

[2018-01-31 08:42] mvarendorff commented on #34
Use `&& user.toString().equals("chrisderwahre")`.
Unless you have primitives (int, float, long, boolean, etc), you compare Objects with `.equals`. In this case you want to compare a user to a string, you first have to make them the same class with user.toString() and then compare them with equals.
You might get a warning that `toString()` is deprecated. Ignore that, please :) It does not do anythi

[2018-01-31 08:44] mvarendorff commented on #28
Yeah I will see when I have time/motivation to do it. Currently I am working fulltime again and the semester starts again in March so I guess that is when I might do some more stuff here again ^^

[2018-01-31 12:17] mvarendorff commented on #30
The only idea that came to my mind just now would be adding something like a listener on a certain channel which would essentially be running a tiny bot that only has the onHost even and requires an oAuth token and username of the streamer as well as an action to perform.
I am not sure how much traffic that would cause or whether that would be practical or not though.

[2018-01-31 12:21] mvarendorff commented on #30
Another alternative would be polling the unofficial twitch chat API under tmi.twitch.tv as described [here](https://github.com/justintv/Twitch-API/issues/312#issuecomment-179593206)

[2018-01-31 14:38] chrisderwahre commented on #34
Thank you.

[2018-01-31 14:38] #34 closed

[2018-01-31 14:57] NiD27 commented on #30
@geisterfurz007 yeah i beat around it using the streamers oauth but not all streamers will be so willling to give out oauth

[2018-01-31 17:06] mvarendorff commented on #30
The oauth token can only be used to connect to a socket (like this bot library does) and read the messages. It cannot be used as password or validation for anything else and can be revoked by them at any time (Settings -> Connections -> Forgot the name for the tool -> Revoke access; or something like that).
And if your bot/the streamer using it wants the onhosted event, they have no other option (

[2018-01-31 18:07] NiD27 commented on #30
ya the tmi or what ever tool i mean like you know if you dont really know that much about tech and you are about to send a weird gibbrish related to your account to a coder it kinda dont sound right but other than that it is safe i know that

[2018-01-31 18:15] mvarendorff commented on #30
That is why you should explain it thoroughly to them in "normal" vocabulary. Something like "Without this unique code I cannot detect whether you have been hosted. What it does is giving me access to reading messages in chat including those that are exclusively for your eyes as well (such as whisper and someone hosting you). I cannot use it to login to your account or similar things." (In theory y

[2018-01-31 18:20] mvarendorff commented on #30
Currently I am working fulltime but from 5-th of March I am back in college and will have more time to implement both listeners (polling and the option if you have their credentials) but as said, that will take some time until I will get onto it.
Closing this for now.

[2018-01-31 18:27] mvarendorff commented on #26
Planning on implementing a polling algorithm for #30 as well so I am reopening this as reminder when starting on that in March.

[2018-02-01 10:07] mvarendorff commented on #27
@chrisderwahre If you could verify that the above process is working, that would be much appreciated :)

[2018-02-01 20:24] chrisderwahre commented on #27
Ill have a look at it. Give me a Minute.

[2018-02-01 20:27] chrisderwahre opened #35 "Request: onLive Event"
Hey there, i saw a Bot which sends a Message when the Channel goes live.
Is this possible to add to this project? Would be cool tho.

[2018-02-01 20:46] chrisderwahre commented on #27
Result:
[code]

Code:
[code]

[2018-02-01 21:05] mvarendorff commented on #35
You can monitor the channel.isLive method in a seperate thread if you need a solution for that quickly. Else you will have to wait till March as this has the exact issue like #26 . Yes there is a webhook for it but there is no way for local applications to utilize that so the only option would be polling. You can do that currently already by repeatedly calling channel.isLive or as mentioned wait a

[2018-02-01 21:07] mvarendorff commented on #27
Would have been too easy anyway ;)
I will include this for my March run in this repo and by then hopefully found someone who agreed on letting me use their token.

[2018-02-01 21:12] geisterfurz007 opened #36 "Get mods without requesting JSON from tmi"
The unofficial endpoint only displays currently active mods in chat.
Writing `/mods` to the socket and reading the response would give a complete list of mods no matter whether they are in chat nor how long (unoffical endpoint has a delay of up to a few minutes).

[2018-02-01 22:23] Poizenes opened #37 "[Request] Online Time"
I've seen at any other bots a function to get the time a viewer has watched the stream.
It would be very nice if you could implement such a function or a function like User#.joinedStream() or something like this. If you have another solution for this issue, it would be nice too.

[2018-02-01 22:25] mvarendorff commented on #37
Do you mean the actual watchtime of the current stream or how long the user follows the channel? Either one is possible I just need to know which one you mean (although the other one would probably be put on my list for March) :)

[2018-02-01 22:30] Poizenes commented on #37
I mean the actual watchtime. Of the current stream. And perhaps also the watchtime in complete would be nice.
How long a user is following should can be handled with the onFollow()-Event.

[2018-02-02 08:16] mvarendorff commented on #37
If you take it like that, you can handle your case with the Bot#userJoins method as well ;)
There is no twitch endpoint to see how long a user is watching the stream. My implementation of this would also be `store time when user joins, get time when user leaves (Bot#userParts), store difference between them and sum with any existing previous watchtime` for total watchtime and `store time when user

[2018-02-07 22:46] chrisderwahre commented on #27
Hey @geisterfurz007 , i would let you use my Token, do you have Discord or Twitter? My Discord: ChrisderWahre#9694 my Twitter: ChrisderWahre. :)

[2018-02-08 13:44] Esssse commented on #37
btw how to get the stream time, i mean how long is the stream going on?

[2018-02-08 13:57] Esssse opened #38 "[Request] Stream Live time"
Is it posible to getfor how long  is the stream live?

[2018-02-08 16:46] mvarendorff commented on #38
Currently not. You might have read that I plan on bringing some new functions to the library during March. I will add this to the list of stuff to do :)
Good contribution; I actually did not expect this to be missing :D

[2018-02-08 17:02] mvarendorff commented on #27
I contacted you on Discord :) Thanks for the offer already!

[2018-03-07 20:01] mvarendorff commented on #27
This still requires testing. If someone is close with a streamer who has subscribers, please do the following:

Go to your twitchapps here, create a new application with the redirect url given on the website (https://twitchapps.com/tokengen/) and note the client ID of that (or if your bot doesn't have a redirect url you can use your bot for that as well and set its redirect url to that).
Then you

[2018-03-09 00:12] Squidkingdom opened #40 "[Help/Request] Twitch Rooms"
With twitch integrating the new rooms system how do we integrate our bots into those rooms?

[2018-03-10 19:13] #40 closed

[2018-03-11 21:22] Squidkingdom opened #41 "I have something you might like."

[2018-03-11 22:29] lmariscal commented on #41
You have something we might like.

[2018-03-12 09:42] mvarendorff commented on #41
You have something we might like.

[2018-03-15 23:32] Squidkingdom commented on #41
I forgot completely what I was talking about but pretend you were blown away. Sorry.

[2018-03-15 23:32] #41 closed

[2018-03-27 21:11] Squidkingdom commented on #27
I'll test the sub things, I'm recently affiliated. (This was the proposal that I forgot about earlier)

[2018-03-27 23:04] mvarendorff commented on #27
Thanks a bunch to @Squidkingdom for going through this! This method should now be fixed and the Experimental markings are removed from the Javadoc with [902d01](https://github.com/cavariux/twitchirc/commit/902d010cb9dc6e00133dcc30cbc63b7cad165328) and [18f63f](https://github.com/cavariux/twitchirc/commit/18f63f559906e84b18c3bcaa3d9e5c8c30d8b565) on branch subpatch.

[2018-03-27 23:05] #27 closed

[2018-03-27 23:39] #37 closed

[2018-03-27 23:42] lmariscal commented on #30
#42 added ``onHost`` event

[2018-03-27 23:42] #30 closed

[2018-04-28 14:10] BluMasc opened #43 "HTTP response code: 504"
i tried to write an own twitch bot.
Every time i start it, it works fine for a few minutes and then gives me an
HTTP response code: 504 or 505 Error
Here is an example:

java.io.IOException: Server returned HTTP response code: 504 for URL: http://tmi.twitch.tv/group/user/blumasc/chatters
	at sun.net.www.protocol.http.HttpURLConnection.getInputStream0(Unknown Source)
	at sun.net.www.protocol.http.H

[2018-04-29 16:36] mvarendorff commented on #43
If you are behind a proxy, you might want to try to access that without it (if possible for you).
You might also want to try to open the URL in your browser (which worked perfectly fine for me; I got the expected response).

Generally 504 means "Gateway Timeout" and is caused when a server (often a proxy or the API server) is not able to get a response from other servers (in case of a proxy the re

[2018-04-29 16:59] AlternativeSquid commented on #43
Let me know if it works, if not add me on discord and I'll see what I can do. My bot is connected ATM.

Discord: Squiddy#2324

[2018-04-30 15:30] BluMasc commented on #43
i have now tested a bit. I just get this error sometimes. othertimes it works perfectly. I am not behind a proxy. @Murfity i will add you on discord. Thanks for the help.

[2018-04-30 15:39] BluMasc opened #44 "Unable to send special characters"
The Library is not able to spend special characters like ä,ö,ü or ß. I know this is sometimes an IRC error, but i would love if you could fix it on your side somehow.